<div class="nav-header">
  <img src="smart-bus.png" alt="smart bus icon" />
  <div class="nav-title">
    <h1>Smart Bus</h1>
    <p>The Modern Way</p>
  </div>
</div>
<ul class="nav-items">
  <li>
    <mat-icon>widgets</mat-icon>
    <p>Overview</p>
  </li>
  <li>
    <mat-icon>route</mat-icon>
    <p>Routes</p>
  </li>
  <li>
    <mat-icon>format_list_numbered</mat-icon>
    <p>Queue</p>
  </li>
  <li>
    <mat-icon>group</mat-icon>
    <p>Drivers</p>
  </li>
  <li>
    <mat-icon>directions_bus</mat-icon>
    <p>Buses</p>
  </li>
  <li>
    <mat-icon>notifications_active</mat-icon>
    <p>Alerts</p>
  </li>
  <li>
    <mat-icon>settings</mat-icon>
    <p>Settings</p>
  </li>
</ul>
