<div class="container grid--2-col">
  <div class="bus-image-container">
    <img class="bus-image" src="login-no-background.png" alt="A microbus" />
  </div>

  <form class="login-form" [formGroup]="form">
    <h1 class="title">Manager Dashboard login</h1>
    <div class="input-group">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        placeholder="admin@minya.gov.eg"
        formControlName="email"
        [class.invalid-input]="isEmailInvalid"
      />
      @if (isEmailInvalid) {
        <p class="control-error">Please enter a valid email.</p>
      }
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        [class.invalid-input]="isPasswordInvalid"
      />
      @if (isPasswordInvalid) {
        <p class="control-error">Password must be at least 8 characters long.</p>
      }
    </div>
    <div class="remember-me-forget-password-wrapper grid--2-col">
      <div class="remember-me-wrapper">
        <input type="checkbox" id="remember-me" />
        <label for="remember-me">Remember me</label>
      </div>
      <a href="#" class="forget-password">Forgot password?</a>
    </div>
    <button>
      <span>Login to Dashboard</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="right-arrow-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
        />
      </svg>
    </button>
  </form>
</div>
