$list-header: #dae2fd;
$list-item-hover: #ffffff;
$primary-bg: #f7f9fb;
$nav-inner-borders: #c4c7c9;

.container {
  padding: 1.2rem 2.4rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8rem;
}

.title {
  font-size: 3rem;
  color: #0f172a;
}

.register-route-btn {
  border: none;
  border-radius: 5px;
  background-color: #283044;
  color: #fff;
  padding: 1.6rem 3.2rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #3f465c;
  }
}

.route-list-nav {
  display: flex;
  gap: 2.4rem;
  flex: 1;
  align-items: center;
  list-style: none;
  background-color: $list-header;
  height: 6rem;
  margin-bottom: 1.6rem;
  padding: 1.2rem 2.4rem;
  border-radius: 8px;

  li {
    border-radius: 8px;
    padding: 0.8rem 1.6rem;
    transition: all 0.3s ease;
    font-weight: 600;
    font-size: 1.6rem;
    color: #444749;
  }

  li.active {
    background-color: $list-item-hover;
  }

  li:hover {
    background-color: $list-item-hover;
    color: #000;
    cursor: pointer;
  }

  li:last-child {
    margin-left: auto;
  }

  a:link,
  a:active,
  a:visited {
    
  }
}

.routes-table-wrapper {
  width: 100%;
  max-height: 55vh;
  overflow-y: auto;
  border-radius: 0.8rem;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(15, 23, 42, 0.05);

  /* firefox */
  scrollbar-width: none;

  /* chrome, edge and safari */
  &::-webkit-scrollbar {
    display: none;
  }
}

.routes-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  tbody tr {
    background-color: #fff;
    border-bottom: 1px solid $nav-inner-borders;
  }

  td {
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
    height: 7rem;
  }
}

thead {
  background-color: $list-header;

  th {
    position: sticky;
    top: 0;
    padding: 1.2rem 2.4rem;
    text-align: left;
    font-variant: small-caps;
    background-color: $list-header;
    z-index: 1;
  }

  th:first-child {
    border-top-left-radius: 5px;
  }

  th:last-child {
    border-top-right-radius: 5px;
  }
}

.table-route {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  .table-route-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: $list-header;
    border-radius: 3px;
  }

  .route-name {
    color: #283044;
    font-size: 1.6rem;
  }

  .route-class {
    color: #444749;
    font-size: 1.2rem;
  }
}
