<div class="search-container">
  <div class="input-wrapper">
    <mat-icon class="search-icon">search</mat-icon>
    <input type="text" placeholder="Search routes, codes, or hubs..." />
  </div>
  <div class="search-results-dropdown"></div>
</div>

<!-- TODO: make icons outlined -->
<mat-icon class="notifications-icon">notifications</mat-icon>
<mat-icon class="help-icon">help</mat-icon>

<a href="mailto:mostaamoahmedd985@gmail.com" class="contact-support">Support</a>

<div class="manager-profile">
  <div>
    <p class="manager-name">Station Manager</p>
    <p class="station-name">Minya Station</p>
  </div>
  <img src="smart-bus.png" alt="manager profile avatar" class="manager-avatar" />
</div>
